__pycache__/
.pytest_cache/
.venv/
venv/
env/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
.git
.gitignore
data/
docs/
tests/
Dockerfile*
requirements-locked*.txt
*.log
# Ignora carpetas y archivos pesados o innecesarios para la imagen Docker
.dvc/
.dvcignore
.venv/
.viz/
data/
notebooks/
logs/
.git/
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.tmp
*.bak
*.swp
*.egg-info/
.env
.env.*

# Archivos temporales de Airflow
airflow-*

# Ruff (Code Formatter)
.ruff_cache/
ruff.toml
